*{
    box-sizing: border-box
}

body{
    background-color: lightgray;
    color: #333;
}
.hidden {
    display: none;
}

form{
    width: 80%;
    margin: 2em auto;
}
form>fieldset{
    background-color: lightblue;
}
.wrap {
    display: flex;
    justify-content: space-between;
}
fieldset{
    width: 100%;
}
.columnas {
    width: 49%;
}
.columnas>fieldset{
    width: 96%;
    margin: 2%;
}
span{
    color:red;
}

input[type="number"]{
    width: 50px;
}