*{
    box-sizing: border-box
}

body{
    background-color: palegoldenrod;
    
    margin: 1em auto;
    width: 80%;
}

form{
    margin-bottom: 40px;
}

#spanVer{
    font-weight: bold;
}

.oculto {
    display: none;
}

.versetto {
    width: 30%;
}