*{
    box-sizing: border-box
}

body{
    background-color: light;
    color: #333;
}

.wrap {
    margin: 2em auto;
    width: 60%;
    padding: 20px;
    background-color: white;
    border: 2px solid;
}

form{
    margin-bottom: 40px;
}

#spanVer{
    font-weight: bold;
}

.oculto {
    display: none;
}

.versetto {
    width: 30%;
}